body {
	background-color: #111;
}

div.container{
	background-color: teal;
	color: #fff;
	font-family: monospace;
	height: 18rem;
	font-size: 16px;
	max-width: 25rem;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 10em auto;
}

.user-controls {
	margin-top: 10px;
}
.user-controls button{
	background-color: peachpuff;
	border: 1px solid #fff;
	border-radius: 3px;
	padding: 5px 7px;
	color: black;
}